@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --primary-color: #141C23;
    --secondary-color: #0d1620;
    --text-color: #fff;
    --text-font: 'Ubuntu', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--text-font);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header#cabecalho {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: rgba(13, 22, 32, 0.7);
}

nav#menu_navegacao{
    height: 100%;
    width: 100%;
}

ul#menu {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

ul#menu li{
    margin-left: 8px;
}

ul#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}

ul#menu li a:hover {
    border-bottom: 2px solid white;
    
}

.secao {
    height: 100vh;
    width: 100vw;
}

div#inicio {
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.5;
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
}

div#home {
    background-color: ;
}

div#habilidades {
    background-color: rgba(255, 255, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.habilidade-card{
    width: 25%;
    height: 25%;
    margin: 2%;
    border: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.habilidade-card i{
    height: 50%;
}

.habilidade-card-info{
    background-color: #fff;
    height: 50%;
}

div#home {
    background-color: ;
}

