@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

:root {
    --primary-color: #141C23;
    --secondary-color: #0d1620;
    --text-color: #fff;
    --text-font: 'Ubuntu', sans-serif;
    --secondary-font: 'Be Vietnam Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: var(--text-font);
    scroll-behavior: smooth;
    
}

/* Menu de Navegação */

header#cabecalho {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0.3);
}

nav#menu_navegacao{
    height: 100%;
    width: 100%;
}

ul#menu {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

ul#menu li{
    margin-left: 8px;
}

ul#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
    font-family: var(--secondary-font);
}

ul#menu li a:hover {
    border-bottom: 2px solid white;
    
}

/* Seções da Página */

.secao {
    height: 100vh;
    width: 100%;
}

.secao_titulo {
    font-family: var(--secondary-font);
    font-size: 30pt;
    text-align: center;
}

/* Foto Principal */
div#foto_principal {
    z-index: 30;
    border-radius: 50%;
}

div#foto_principal img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

div#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 1;
    font-family: 'Roboto Mono', monospace;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
}

div#banner_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

div#inicio_title {
    z-index: 15;
    text-align: center;
    color: #fff;
}

div#inicio h1{
    z-index: 15;
    color: white;
}

div#habilidades {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Habilidade Card */

.habilidade-card{
    width: 25%;
    height: 25%;
    margin: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidade-card i{
    height:50%;
}

.habilidade-card-info{
    text-align: center;
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

/* Icone Colors */

.fa-html5 {
    color: #f06124;
}

.fa-js {
    color: #efd81d;
}

.fa-css3-alt {
    color: #379ad6;
}

.fa-bootstrap {
    color: #5e4088;
}

.fa-python {
    color: #ffd43b;
}

.fa-node {
    color: #689f63;
}

.fa-linux {
    color: black;
}

.fa-microchip {
    color: white;
}

/* Projetos */

div.projeto {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

div.projeto_info {
    display: flex;
    width: 50%;
    height: 80%;
    /* background-color: blue; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project_buttons a {
    color: inherit;
    text-decoration: none;
    user-select: none;
}

div.projeto_info button {
    text-transform: capitalize;
    outline: none;
    padding: 5px;
    background: none;
    color: #0076c6;
}

div.projeto button:hover {
    cursor: pointer;
}

button.clean {   
    font-size: 12pt;
    border: none;
    font-size: 12pt;
}

button.outline {
    font-size: 14pt;
    transition: 0.3s;
    border: 1px solid #0076c6;
}

button.outline:hover {
    background: #0076c6;
    color: #fff;
}

div.projeto_info p {
    text-align: center;
}

div.projeto_image {
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.projeto_image img {
    width: 95%;
    height: 95%;
}


hr {
    width: 70%;
}

footer#rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--secondary-font);
    color: var(--text-color);
    height: 5%;
    background-color: var(--secondary-color);
}

